.container{
    min-width:35%;
    height : 100vh;
    margin : 0vw;
    padding : 5vw;
    
}

.bgcolor{
    background-color: rgb(8, 94, 5);
}

.container input,select,textarea{
    width: 50%;
    padding: .5rem .8rem .5rem .8rem;
    border : 1px solid #ccc;
    border : 0;
    border-radius : 5px;
    display: block;
}

.container textarea{
  height: 15vh;
}

 input[type=submit]{
    background-color: #f0f0f6;
    padding: 2px 4px;
    width:8%
    
}

input:hover[type=submit]{
    background-color:rgb(14, 194, 50);
    
    
}